@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="@Url.Content("/css/CreateAccountStyles.css")">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="@Url.Content("/images/bell_tower.jpg")" alt="Temple Bell Tower">
        </div>
        <div class="right">
            <div class="create-account-box">
                <img src="@Url.Content("/images/templeTlogo.png")" alt="Temple Logo" class="logo">
                <h2>Your Account is Currently Under Review</h2>
                <p>Please be on the lookout for an approval email. Don't forget to check your junk.'</p>
                <p class="note">Please note your information will have to be reviewed and approved before you can proceed.</p>
                <p>@ViewBag.ErrorMessage</p>
            </div>
        </div>
    </div>
</body>
</html>

