@{
    ViewData["Title"] = "Admin View Project";
    Layout = "_ClientLayout";
}

<h1>Project Information</h1>

<h2>Project Name: </h2>
<h2>Description: </h2>
<h2>Status: </h2>
<h2>Comments: </h2>
<h2>Project Owner: </h2>
<h2>Email: </h2>
<h2>Submitted On: </h2>
<h2>Last Reviewed On: </h2>
<h2>Reviewed By: </h2>