@{
    ViewData["Title"] = "Manage Projects";
    Layout = "_ClientLayout";
}
@*temp styling*@

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<h1>Admin Manage Projects</h1>

<table style="width:100%;">
    <tr>
        <th>Project Name</th>
        <th>Short Description</th>
        <th>Project Status</th>
        <th>Comments</th>
        <th>View Details</th>
    </tr>

    @*Iterate Database data into table rows*@
    <tr>
        <th>Class Registration</th>
        <th>Faster way to register for classes</th>
        <th>Pending Review</th>
        <th>None</th>
        <th><button>View Project</button></th>
    </tr>
    <tr>
        <th>Food Truck App</th>
        <th>Ordering from food trucks on campus through grubhub</th>
        <th>Denied</th>
        <th>We don't like it</th>
        <th><button>View Project</button></th>
    </tr>
</table>