@model CapstoneProject.Models.AdminModel
@{
    ViewData["Title"] = "Manage Projects";
    Layout = "_ClientLayout";
}
@*temp styling*@

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<h1>Admin Manage Projects</h1>

<table style="width:100%;">
    <tr>
        <th>Project Name</th>
        <th>Short Description</th>
        <th>Project Status</th>
        <th>Comments</th>
        <th>View Details</th>
    </tr>

    @*Iterate Database data into table rows*@
    <tr>
        <th>Class Registration</th>
        <th>Faster way to register for classes</th>
        <th>Pending Review</th>
        <th>None</th>
        <th><button>View Project</button></th>
    </tr>
    <tr>
        <th>Food Truck App</th>
        <th>Ordering from food trucks on campus through grubhub</th>
        <th>Denied</th>
        <th>We don't like it</th>
        <th><button>View Project</button></th>
    </tr>

    @* We create a project object for each project and save those in a viewbag
        We use the viewbag to populate the Admin's view
    *@
    @if (ViewBag.AdminViewProjects == null || ViewBag.AdminViewProjects.Count == 0)
    {
        <center>
            <label>There are no projects</label>
        </center>
    }
    else
    {
        foreach (var project in ViewBag.AdminViewProjects)
        {
            <tr>
                <th>@project.ProjectName</th>
                <th>@project.ShortDesc</th>
                <th>@project.ProjectStatus</th>
                <th>@project.Comments</th>
                <th><button>View Details</button></th>
            </tr>
        }
    }
</table>