@{
    ViewData["Title"] = "Manage Projects";
    Layout = "_ClientLayout";
}
@*temp styling*@

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<h1>Admin Manage Projects</h1>